@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

* {
    font-family: "Lexend", sans-serif !important;
}

.sectionRegistro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 25rem;
}

.divRegistro {
    border: 2px solid grey;
    border-radius: 10px;
    width: 95%;
}

h1 {
    font-weight: 400;
    text-align: center;
    font-size: 20px;
    color: rgb(0, 0, 0);
    margin-top: 50px;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

label {
    display: flex;
    flex-direction: column;
    width: 95%;
}

.inputRegistro {
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(224, 224, 224);
}

select {
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(224, 224, 224);
}

.resultado {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(224, 224, 224);
}

.resultado p {
    margin: 0;
    padding: 0;
}

.registrar {
    padding: 4px;
    margin: 1rem;
    border-radius: 5px;
    background-color: rgb(224, 224, 224);
    border: 1px solid grey;
    width: 50%;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.registrar:hover {
    background-color: rgb(194, 194, 194);
}

.registrar:active {
    background-color: rgb(91, 80, 189);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

h2 {
    font-weight: 400;
    text-decoration: underline;
    text-align: center;
    font-size: 20px;
    color: rgb(0, 0, 0);
}

table {
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    width: 100%;
    padding: 1rem;
}

tr {
    padding: 5px;
    text-align: center;
}

td {
    padding: 5px;
    text-align: center;
}

th {
    padding: 5px;
    text-align: center;
    font-weight: 550;
}